
body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #121212;
  color: white;
}


/* Responsive tweaks */
@media screen and (max-width: 768px) {
  aside {
    width: 100% !important;
    text-align: center;
  }

  main {
    padding: 10px !important;
  }

  audio {
    width: 100% !important;
  }
}
